<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>About Me</h3>
        <p>{{ site.description }} <a href="/about/">Learn more</a>.</p>
      </div>
      <div class="col-sm-6 text-right">
      <h3>Follow me</h3>
        <ul>
          <li><a href="mailto:{{ site.email }}">Email</a></li>
          <li><a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></li>
          <li><a href="https://github.com/{{ site.github_username }}">Github</a></li>
          <li><a href="https://www.facebook.com/{{ site.facebook_username }}">Facebook</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="text-center">&copy; 2008-2015 Matt Geri / <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>+<a href="{{ "/sitemap.xml" | prepend: site.baseurl }}">XML</a></p>
      </div>
    </div>
  </div>
</footer>
