@media (min-width: 750px) {
  .container {
    width: 750px;
  }
}

body {
  color: #333;
  font-family: "Lato", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.8;
}

p {
  margin: 0 0 30px;
}

ol, ul {
  margin: 0 0 30px;
}

ol li, ul li {
  margin: 0 0 15px;
}

a {
  color: #369;
}

a:hover {
  color: #036;
  text-decoration: none;
}

pre {
  background: #eee;
  border: none;
  border-radius: 0;
  margin: 0 0 30px;
}

code {
  background: none;
}

.panel {
  border: none;
  border-radius: 0;
  margin: 0 0 30px;
}

.panel-default > .panel-heading {
  background: #ddd;
  border: none;
}

.panel-heading {
  border-radius: 0;
}

.panel-body {
  background: #eee;
  border: none;
}

.panel-body p {
  margin: 0 0 20px;
}

.header {
  background: #369;
  color: #fff;
}

.header .row {
  padding: 60px 0;
}

.header h1 {
  font-size: 28px;
  margin-bottom: 5px;
}

.header p.lead {
  font-size: 16px;
  margin-top: 5px;
}

.header a {
  color: #fff;
}

.header a:hover {
  color: #ddd;
}

.menu ul {
  float: right;
  margin: 40px 0 0 0;
  padding: 0;
}

.menu ul li {
  float: left;
  list-style: none;
  padding: 0 20px 0 0;
}

.content h4, .archive h4, .best h4 {
  color: #999;
  font-size: 14px;
  font-weight: 300;
  margin: 50px 0 0;
  text-transform: uppercase;
}

ul.list {
  margin: 50px 0 0;
  padding: 0;
}

ul.list li {
  font-size: 18px;
  list-style: none;
  margin: 0 0 20px;
}

ul.list li p.sub {
  font-size: 14px;
  font-weight: 300;
  margin: 0;
}

.post, .page {
  margin: 50px 0;
}

.post h2, .page h2 {
  margin: 0 0 10px;
  text-align: center;
}

.post h3, .page h3, .post h4, .page h4 {
  margin: 0 0 30px;
}

.post h4 {
  color: #333;
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
}

.post p.lead {
  font-size: 16px;
  margin: 0 0 50px;
  text-align: center;
}

.post img, .page img {
  height: auto;
  width: 100%;
}

.footer {
  background: #eee;
  margin: 50px 0 0;
}

.footer h3 {
  font-size: 18px;
  margin: 50px 0 10px 0;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
